// Apply box-sizing: border-box to all elements: http://bit.ly/1yDao1h
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: image-url('landscape.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
}

// Main
// ==========================================================================

$main-width: 55em; // Change your main area width here

.main {
  height: 100%;
  margin: 0 auto;
  max-width: $main-width;
  text-align: center;
  @include under($goldilocks) {
    background-color: transparent;
    padding: 1.5rem;
  }
  @include under($babybear) {
    padding: 0.5rem;
  }
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -0.25em; // Adjusts for spacing
    vertical-align: middle;
  }
}

// Vertically-centered block

.centered {
  background-color: rgba($color-accent-light, 0.9);
  color: #fff;
  display: inline-block;
  max-width: 40em;
  padding: 2em;
  vertical-align: middle;
  width: 90%;
  @include under(20em) {
    padding: 1rem;
  }
  a, a:visited {
    color: #fff;
  }
}