// Custom Fonts
// ==========================================================================

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

// Font Mixins
// ==========================================================================

@mixin font-base {
  // font-family: Helvetica, Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

@mixin font-base-bold {
  @include font-base;
  font-weight: bold;
}

// @mixin font-alt {
//   font-family: 'Montserrat', sans-serif;
//   font-weight: normal;
// }

// @mixin font-alt-bold {
//   @include font-alt;
//   font-weight: 700;
// }

// Global Font
// ==========================================================================

html {
  font-size: 100%;
}

body {
  @include font-base;
  color: $color-base;
  font-size: 1em; // Set global font-size here
  line-height: 1.4; // Set global line-height here
}

// Headings
// ==========================================================================

h1, h2, h3, h4, h5, h6 {
  @include font-base;
  line-height: 1.2;
  margin-top: 0;
}

h1 {
  @include font-base-bold;
  font-size: 3.5em;
}

// Heading Group

.heading-group {
  margin-bottom: 5rem;
}

.heading-group-title {
  margin: 0;
}

.heading-group-subtitle {
  margin: 0;
}

// Misc
// ==========================================================================

p {

}

ul, ol {

}

blockquote {

}