<div class="centered">

  <div class="heading-group">
    <h1 class="heading-group-title">Josh Dean</h1>
    <h2 class="heading-group-subtitle">UX Director &amp; Engineer</h2>
  </div>

  <ul class="icon-links">
    <li>
      <% link_to 'http://codepen.io/joshdean/', class: 'icon-link', target: '_blank' do %>
        <svg class="icon icon-codepen"><use xlink:href="#icon-codepen"></use></svg>
      <% end %>
    </li>
    <li>
      <% link_to 'http://github.com/designerdean', class: 'icon-link', target: '_blank' do %>
        <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
      <% end %>
    </li>
    <li>
      <% link_to 'http://twitter.com/joshdean', class: 'icon-link', target: '_blank' do %>
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
      <% end %>
    </li>
    <li>
      <% link_to 'http://dribbble.com/joshdean', class: 'icon-link', target: '_blank' do %>
        <svg class="icon icon-dribbble"><use xlink:href="#icon-dribbble"></use></svg>
      <% end %>
    </li>
    <li>
      <% link_to 'http://linkedin.com/in/joshdean', class: 'icon-link', target: '_blank' do %>
        <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
      <% end %>
    </li>
  </ul>

  <!-- <a href="mailto:hello@joshdean.co">hello<wbr>@joshdean<wbr>.co</a> -->
  <a href="mailto:hello@designerdean.com">hello<wbr>@designerdean<wbr>.com</a>

</div>