<h1>Josh Dean</h1>
<h2>UX Director &amp; Engineer</h2>


<ul class="icon-links">
  <li class="icon-link">
    <% link_to 'http://twitter.com/joshdean' do %>
      Twitter
    <% end %>
  </li>
  <li class="icon-link">
    <% link_to 'http://github.com/designerdean' do %>
      GitHub
    <% end %>
  </li>
  <li class="icon-link">
    <% link_to 'http://dribbble.com/joshdean' do %>
      Dribbble
    <% end %>
  </li>
  <li class="icon-link">
    <% link_to 'http://linkedin.com/in/joshdean' do %>
      LinkedIn
    <% end %>
  </li>
</ul>
<%= link_to 'hello@joshdean.co', 'mailto:hello@joshdean.co' %>